.main, .bl{
	border: solid 1px red;
	border-radius: 3px;
	margin: 20px;
	padding: 15px 20px;
}
.main{
	width: 1000px;
	height: 800px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
/*	align-items: baseline;*/
}
.bl{
	border-color: green;
	/*margin: auto;*/
/*	vertical-align: auto;*/
}
.fl1{}
.fl2{}
.fl3{}
.fl4{}
.fl5{}
.fl6{}
