body{
	background: #f8f8f8;
}

.menu a {
	font-size: 14px;
	color: grey;
	font-family: Arial;
}

.menu {
	list-style-type: none;
}

h4, h5 {
	color: green;
	font-size: 20px;
	font-weight: 800;
	background: #eaeaea;
}

.description {
	color: #8A1EDE;
	font-size: 16px;
	font-style: italic;
	line-height: 12px;
}

.characteristics {
	color: #DFB551;
	font-size: 12px;
	font-style: oblique;
	line-height: 25px;
	text-align: right;
	list-style: none url(../img/list_item.png);
}

input[type="text"] {
    width: 60px;
    height: 60px;
    /*background: #FA15C1;*/
    color: #FA8615;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

input[type="email"] {
    width: 30px;
    height: 30px;
}

input[type="comments"] {
    width: 120px;
    height: 120px;
}

img {
	border: 15px groove #9CED3C;
}